.Titulo1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51, 50, 50);
    color: floralwhite;    
    border-color: deeppink;
    border-width: 2px;
    border-style: solid;
}

.card{
    display: flex;   
    margin: 20px;
    padding: 10px;
}

.Titulo2{
    padding-top: 15vh;
}
